
.admin-create-show-row{
    margin: 4% 2.5% 7.6% 1.9%;
    height: 1018px;
    background-color: #ffffff;
     box-shadow: 0px 3px 8px 0 rgba(190, 194, 201, 0.35);
}
.admin-create-show-detail{
    padding: 0 50px 0 50px;
    min-height: 400px
}
.admin-create-show-detail-text span{
    width: 68%;
    height: 3.5%;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: right;
    color: #4b525b;
}
.admin-create-show-detail-text{
    margin-top: 103px !important
}
.admin-create-show-detail-lines{
    width: 56px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #00aff0;
}
.admin-create-show-detail-total{
}
.admin-create-show-detail-total .total{
   font-family: Lato;
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: right;
   color: #111111;
}
.admin-create-show-detail-total .detail{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #00a89c;
}
.admin-create-show-detail-title{
    width: 100px;
    height: 12px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #333333;
}
 .admin-create-button-save{
    color: #ffffff;
    width: 25.7% !important;
    margin-right: 2.6% !important;
    float: right;
 }
 .admin-create-button-cancel{
    background-color: #8290a1 !important; 
    width: 25.7% !important;
    margin-right: 0px !important;
    float: right;
 } 
 .admin-create-button-add{
    width: 30.9%;
    margin-left: 11% !important;
    margin-right: 2.6% !important;
    /* height: 5.6%; */
    border-radius: 3px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.64;
    letter-spacing: normal;
    font-size: 14px;
    padding: 11px 0px 11px 0px !important;
    background-color: #00a453!important; 
 } 
 .admin-create-button-save-add{
    color: #ffffff;
    width: 25.7% !important;
    margin-right: 2.6% !important;
 }
 .admin-create-button-cancel-add{
    background-color: #8290a1 !important; 
    width: 25.7% !important;
    float: right;
 } 
 .admin-create-show-detail-lines-path{
    width: 56px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ff8a00;
 }
 .field .selection .icon{
    width: 11.7% !important;
    height: 100% !important;
    background-color: #e7ecf4 !important;
    border: solid 1px #a9b1bb;
    right: 10px !important
 }
@media screen and (min-width: 992px) and (max-width:1200px){
    .cover-title-0 {
        font-size: 30px !important;
    }
}
.cover-btn-import {
    width: 99px;
    height: 40px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(#ebebeb, #ebebeb);
    border: solid 1px #e1e1e1;
}
.modal-delete {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 999 !important;
    left: 0;
    top: 0;
    /* margin-top: 20% */
}
/* layout */
.sidebar {
    width: auto;
    background: #292b39;
    z-index: 1000;
    transition: all 150ms
}

.main {
    padding: 41px 40px 112px 40px;
    width: 100%;
    transition: all 150ms;
}
.bread-crumb-0 {
    width: 100%;
    height: 100px;
    background-color: #e9edf2;
    box-shadow: 0px 1px 0 0 rgba(177, 186, 198, 0.35);
}
.main>.content {
    min-height: 550px;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0 rgba(190, 194, 201, 0.35);
}
.inner-content-table {
    padding-top: 30px ;
    padding-bottom: 46px;
    padding-right: 51px;
    padding-left: 51px;
}
/* create-question */
.cover-title-0 {
    font-family: Lato-Bold;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4b525b;
}
.cover-line-green {
    width: 56px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #3fb34f;
    margin-bottom: 27px;
    margin-top: 15px;
}
.cover-line-blue {
    width: 56px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #00aff0;
    margin-bottom: 27px;
    margin-top: 15px;
}
.cover-label {
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-top: 11px;
    margin-bottom: 5px;
}
.cover-layout-editor {
    padding-top: 103px;
    padding-bottom: 62px;
}
.cover-action-btn {
    margin-top: 28px;
}
.cover-btn-save {
    min-width: 99px;
    height: 40px;
    border-radius: 3px;
    background-color: #00aff0 !important;
    color: #fff !important;
    font-family: Lato-Medium;
}
.cover-btn-cancel {
    min-width: 99px;
    height: 40px;
    border-radius: 3px;
    background-color: #8290a1 !important;
    color: #fff !important;
    font-family: Lato-Medium;
}
.cover-btn-create {
    min-width: 99px;
    height: 40px;
    border-radius: 3px;
    background-color: #00a453 !important;
    color: #fff !important;
    font-family: Lato-Medium;
}
.cover-btn-search-table {
    text-align: center;
    border-radius: 3px;
    background-color: #00aff0 !important;
    color: white !important;
}
.cover-btn-create-table {
    border-radius: 3px;
    background-color: #00a453 !important;
    color: white !important;
}
.cover-wrap-form-table {
    border-bottom: dotted 2px #9ca4af;
}


.choose-template{
    color: white !important;
    background-color: orange !important;
}
.oddItem {
    opacity: 0.9;
    background-color: #ebeef2;
    padding: 10px 15px !important;
}
.evenItem {
    opacity: 0.9;
    background-color: #f5f8fa;
    padding: 10px 15px !important;
}
.listSection {
    margin-top: -10px !important;
}
.icon-preview {
    width: 70px;
    min-height: 70px;
    border: 2px solid #26a69a;
    background: #e3f0f0;
}
.image-course-preview {
    width: 150px;
    min-height: 150px;
    border: 2px solid #26a69a;
    background: #e3f0f0;
}
.title-template {
    font-family: Lato-Bold;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4b525b;
    margin-bottom: 10px;
}
.cover-loader {
    padding-top: 100px;
}
/* table-css */
th span.sort-by { 
	padding-right: 18px;
  position: relative;
  cursor: pointer;
}
span.sort-by:before,
span.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
span.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
span.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}
table tfoot {
  background-color: white !important;
}
table tr.odd {
  background-color: #f5f8fa;
}
table tr.even {
  background-color: #ebeef2;
}
.demo-tfoot tr th{
 background-color: white !important
}
table thead tr th {
  background-color: white !important
}
.entry-code-tool-form .fields .field .input{
    width: 600px !important;
    height: 40px !important;
}
.entry-code-tool-form .fields{
    margin-top: 10px !important
}
.entry-code-tool-form .fields .field{
    width: 650px !important
}

.entry-code-tool-form {
    border-bottom: 1px dotted #9ca4af;
}
.generrate-code-tool-form .fields .field .input{
    height: 40px !important
}
.generrate-code-tool-form .fields select{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 100px !important
}
.generrate-code-tool-form .fields .field {
    width: 100px !important
}
.cover-btn-cancel{
    width: 99px !important;
    height: 40px !important;
    border-radius: 3px !important;
    background-color: #8290a1 !important;
}
.users-code-tool-form .field .input{
    height: 40px !important
}
.users-code-tool-form .fields .field{
    width: 150px !important
}
.template-code-tool-form .field .input{
    height: 40px !important
}
.template-code-tool-form .fields .field{
    width: 250px !important
}
.cover-btn-plus{
    width: 99px;
    height: 40px !;
    border-radius: 3px !important;
   /* background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(#ebebeb, #ebebeb) !important; */
   border: solid 1px #e1e1e1 !important;
}
.text-error{
    font-family: 'Myriad Pro Italic';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #eb212e;
    margin-top: 5px;
    /* font-style: italic; */
  }

/* gennerate */
@font-face {
  font-family: Myriad Pro Regular;
  src: url('../../../../User/src/fonts/Myriad Pro Regular.ttf');
}


body {
  font-family: Myriad Pro Regular !important;
  font-weight: 300;
  font-size: 14px;
}

.dashboard {
  font-family: Myriad Pro Regular !important;
}

.dashboard .btn-uploadFile button {
  font-family: Myriad Pro Regular !important;
}

.dashboard .add-user button {
  font-family: Myriad Pro Regular !important;
}



.icon-regenerate {
  color: blue;
  font-size: 30px;
  cursor: pointer;
}

.icon-delete, .icon-dow, .icon-import{
  font-size: 30px;
  cursor: pointer;
}
.icon-delete{
    color: red;
}
.icon-edit{
  color: royalblue;
   font-size: 30px;
}
.icon-import{
  color: blue
}
.icon-detail {
  color: green;
  font-size: 30px;
  cursor: pointer;
}

.item-current {
  color: red;
}
.modal-content {
    margin-top: 30%;
}
.uploadFile-admin{
    background-color: rgb(10,82,160) !important;
    width: 99px;
    height: 40px;
    border-radius: 3px;
    color: white !important;
}
.view-admin{
   background-color:rgb(240,110,40) !important;
   width: 99px;
   height: 40px;
   border-radius: 3px;
   color: white !important
}
.container-fluid>.justify-content-center>.col-md-6>.ui>.field>.error {
    border: solid 1px #ff0000 !important;
    border-radius:.28571429rem !important;
}

.container-fluid>.justify-content-center>.col-md-6>.ui>.field>.error>input {
    background-color: #fff3f3; 
    border: none;  
}