.question-test {
    font-size: 18px;
    margin-bottom: 26px;
    line-height: 1.3;
    font-weight: 500;
    font-family: Lato-Bold;
    color: #111111;
    word-wrap: break-word;
}
.item-answer {
    font-family: Lato-Medium !important;
    color: #111111 !important;
    font-size: 15px;
}
.wrap-question-test {
    word-wrap: break-word;
}

