
.course-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.course-item .c-i-section {
    width: 100%;
    padding-bottom: 53px;
    padding-left: 7.4%;
    padding-right: 7.4%;
    margin-bottom: 0px;
}

.course-item .c-i-section .cis-item {
    margin: 0px;
    margin-left: 2.1%;
    font-family: Lato-Bold;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 12px;
}