* {
    margin: 0px;
    padding: 0px;
}

.ff-detail {
    background-color: #f1f1f1;
}

.ff-detail .img-banner {
    width: 100%;
    background-image: url('images/layer-ff-detail.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80%;
    padding: 6% 3%;
}

.ff-detail .img-banner h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.ff-detail .img-banner hr {
    width: 40%;
    background-color: #d7d7d7;
}

.ff-detail .img-banner ul {
    margin-top: 15%;
    list-style: none;
}

.ff-detail .img-banner ul li {
    color: white;
    margin-top: 10px;
}

.ff-detail .ff-detail-content {
    background-color: white;
    padding: 5%;
}

.ff-detail .ff-detail-content .ff-title {
    font-size: 30px;
    font-weight: bold;
    color: #0072bc;
}

.ff-detail .ff-detail-content .ff-description {
    display: flex;
    border-bottom: solid 1px #cdcdcd;
    padding-bottom: 30px;
}

.ff-detail .ff-detail-content .ff-description .salary-location {
    flex-grow: 1;
}

.ff-detail .ff-detail-content .ff-description .salary-location i {
    font-size: 16px;
    color: #0072bc;
    margin-right: 5px;
}

.ff-detail .ff-detail-content .ff-description .salary-location .bonus-salary .salary {
    background-color: #ebebeb;
    color: orange;
    font-size: 16.5px;
    font-weight: bold;
    padding: 2px;
}

.ff-detail .ff-detail-content .ff-description .apply-job {
    background-color: #0072bc;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.ff-detail .ff-detail-content .ff-content .ff-paragraph {
    margin-top: 44px;
}

.ff-detail .ff-detail-content .ff-content .ff-paragraph .ff-content-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.ff-detail .ff-detail-content .ff-content .ff-paragraph p {
    margin-top: 25px;
}

.ff-detail .ff-detail-content .can-offer {
    background-color: #f6f6f6;
    padding: 15px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.ff-detail .ff-detail-content .can-offer .can-offer-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.ff-detail .ff-detail-content .can-offer .can-offer-items {
    display: flex;
    flex-wrap: wrap;
}

.ff-detail .ff-detail-content .can-offer .can-offer-items .can-offer-item {
    display: flex;
}

.ff-detail .ff-detail-content .can-offer .can-offer-items .item-first {
    flex-grow: 1;
}

.ff-detail .ff-detail-content .can-offer .can-offer-items .can-offer-item .icon-offer {
    font-size: 25px;
    color: #f57002;
}

.ff-detail .ff-detail-content .can-offer .can-offer-items .can-offer-item .offer-text {
    width: 250px;
    height: auto;
    padding-left: 15px;
    font-size: 14px;
}

.ff-detail .ff-detail-content .tech-skill {
    background-color: #f6f6f6;
    padding: 15px;
    margin-bottom: 6%;
}

.ff-detail .ff-detail-content .tech-skill .tech-skill-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.ff-detail .ff-detail-content .tech-skill .tech-skill-items {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.ff-detail .ff-detail-content .tech-skill .tech-skill-items .tech-skill-item {
    background-color: white;
    margin-right: 10px;
    border: solid 1px #cdcdcd;
    padding-left: 5px;
    padding-right: 5px;
}

.we-talk-our {
    padding: 0px 15%;
    background-color: #35508b;
}

.we-talk-our h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 10%;
}

.we-talk-our hr {
    width: 50px;
    height: 3px;
    background-color: #f57002;
}

.apply-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 10%;
    /*overflow: auto;*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}






