* {
    margin: 0px;
    padding: 0px;
}

.form-hashtag {
    display: flex;
}

.form-hashtag-input {
    flex-grow: 1;
}

.hashTagItem {
    background-color: #e0e0e0;
    border: solid 1px #cdcdcd;
    margin-left: 5px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.react-select-element input[role=combobox] {
    border: none !important;
}
