.btn-add-lecture {
    width: 45px;
    height: 40px;
    border-radius: 3px;
    background-color: #00a453 !important;
    color: #ffffff !important;
}
.btn-cancel-lecture {
    width: 45px;
    height: 40px;
    border-radius: 3px;
    background-color: #8290a1 !important;
    color: #ffffff !important;
}
#modal-header-lecture {
    background-color: #00aff0;
    color: #fff;
}
.hide-input {
    display: none;
}
.show-input {
    display: block;
}