.video  {
    width: 95%;
    max-width: 350px;
    margin-right: 2%;
    border: 1px solid #E1E1E1;
}
.video .v-tittle {
    padding-left: 10px;
    min-height: 35px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #000;
}

.video .v-contents ul {
    margin: 7px 7px 10px 7px;
    border-bottom: 1px dotted #d6d6d6;
}

.video .v-contents .ul-end {
    border-bottom: none;
}

.video .v-contents ul iframe {
    width: 100%;
}

.video .v-contents ul .vc-description {
    font-size: 15px;
}